
//
// VARIABLES
//

@font-face {
    // Got here: https://www.fontsquirrel.com/fonts/roboto
    font-family: RobotoCondenced;
    src: url(/static/fonts/roboto/RobotoCondensed-Light.ttf);
}
@font-face {
    // Got here: https://www.fontsquirrel.com/fonts/roboto
    font-family: Roboto;
    src: url(/static/fonts/roboto/Roboto-Light.ttf);
}
@font-face {
    // Got here: https://www.fontsquirrel.com/fonts/pt-mono
    font-family: PTMono;
    src: url(/static/fonts/pt-mono/PTM55FT.ttf);
}


// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$sans: Roboto, sans-serif;
$sansCondensed: RobotoCondenced, 'Roboto Condenced', sans-serif;
$mono: PTMono, 'PT Mono', monospace;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}